body {
    margin: 0;
}

.invalid[class] {
    display: none;
}

.app-container {
    border: black 2px solid;
    max-width: 800px;
    min-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.app-wall {
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-form  {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-form-input {
    width: 100%;
    height: 40px;
    margin: 0;
}

.post-container {
    margin-top: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    padding: 5px;
}

.post-time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.post-content {
    margin-top: 10px;
}

.post-cordinate {
    margin-top: 10px;
}

.modal {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.coords-form {
    background-color: aliceblue;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

h2 {
    margin: 0;
}

.coords-form-input {
    margin-top: 10px;
    width: 80%;
    height: 20px;
}

.coords-form-btn-cnt {
    margin-top: 10px;
}

.coords-form-btn {
    height: 20px;
}
